<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
    
  <p>{{ description }}</p>
    
    <div *ngFor="let image of list" class="image">
        <img [src]="image">
    </div>
    
</div>