#name{
    margin-left: 100px;
    width: 100px;
    height: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-top: 100px;
    background-color: green;
    
    text-align: center;
}