/* You can add global styles to this file, and also import other style files */

html, body,app-root{
    display: block;
    position: relative;
    box-sizing: border-box;
    
    margin: 0px;
    
    width: 100%;
    height: 100%;
    
    font-family: sans-serif;
}