.block{
    display: block;
    position: relative;
    box-sizing: border-box;
    
    width: 100%;
    height:auto;
    
    &.header{
        background-color: dimgray;
        color: white;
    }
}

.menu{
    display: block;
    position: relative;
    box-sizing: border-box;
    
    list-style: none;
    
    margin: 0px;
    padding: 20px;
    
    &.main{
        text-align: center;
        
        & .item{
            display: inline-block;
            height: 40px;
            line-height: 40px;
            
            padding-left: 20px;
            padding-right: 20px;
            
            font-size: 17px;
        }
    }
}