<div class="block header">
    <ul class="menu main">
        <li class="item">Mac</li>
        <li class="item">Ipad</li>
        <li class="item">iPhone</li>
        <li class="item">watch</li>
        <li class="item">tv</li>
        <li class="item">Music</li>
    

    </ul>
</div>

<app-panel-bottom></app-panel-bottom>
<app-panel-content></app-panel-content>
<app-panel-header></app-panel-header>
<app-panel-footer></app-panel-footer>